extends ../layout

block body

  .container
    each error in errors
      div.alert.alert-danger #{__(error)}

    div.panel.panel-default
      div.panel-heading
        h4.panel-title Please, sign in
      div.panel-body
        form.login_form(action="/auth/local", method="post")
          div.form-group
            input.form-control(type="text", name="identifier", placeholder="Username or Email")
          div.form-group
            input.form-control(type="password", name="password", placeholder="Password")

          button.btn.btn-primary(type="submit") Sign in

  if Object.keys(providers).length
    h4 You can also use one of these

    each value, key in providers
      a(href="/auth/" + value.slug)= value.name
